{{!
  Copyright 2015-2017 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
}}
<div class="editResourceViewContainer">
    <section>
        <div class="fr-top-bar">
            <div class="container">
                <h3 class="fr-breadcrumb">
                    <a href="#workflow/tasks/">{{t "templates.taskInstance.viewAllTasks" }}</a>
                    <span class="seperator"></span>
                    <span>{{task.name}}</span>
                </h3>
            </div>
        </div>
        <div class="container">
            <div class="page-header clearfix">
                <span class="header-icon pull-left"><i class="fa fa-check"></i></span>
                <h4 class="page-type">
                    {{t "templates.taskInstance.task" }}
                    <span class="meta">
                        <span class="meta-icon-bullet"><i class="fa fa-calendar"></i> {{#if task.dueDate }}{{t "templates.taskInstance.dueDate" }}: {{date task.dueDate "MMM dd, yyyy  h:mm:ss TT"}}{{else}}{{t "templates.taskInstance.noDueDate" }}{{/if}}</span>
                        <span class="meta-icon-bullet"><i class="fa fa-clock-o"></i> {{t "common.form.created" }}: {{date task.createTime "MMM dd, yyyy  h:mm:ss TT"}}</span>
                    </span>
                </h4>
                <div class="page-header-button-group">
                    <div class="btn-group">
                        <a href="#" id="assignTaskBtnTop" class="btn btn-primary assignTask">
                            <i class="fa fa-arrow-right"></i>
                            {{#if task.assignee }}
                            {{t "templates.taskInstance.reassign" }}
                            {{else}}
                            {{t "templates.taskInstance.assign" }}
                            {{/if}}
                        </a>
                    </div>
                </div>
                <h1>{{task.name}} <small class="text-muted">({{task._id}})</small></h1>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="panel panel-connector panel-default panel-content panel-collapse-group has-border">
                <div class="panel panel-default panel-collapse">
                    <div id="taskAboutPanel" class="panel panel-default panel-collapse">
                        <div class="panel-heading" role="tab" id="taskAboutHeading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#taskAboutBody" aria-expanded="true" aria-controls="taskAboutHeading">{{t "templates.taskInstance.aboutThisTask" }}</a>
                            </h4>
                        </div>
                        <div id="taskAboutBody" class="collapse in" role="tabpanel" aria-expanded="true" aria-labelledby="taskAboutHeading">
                            <div class="panel-body">
                                <div id="taskAboutContent" class="detailTable form-horizontal">
                                    {{#if task.description }}
                                    <div class="row">
                                        <div class="col-sm-3 control-label">
                                            <strong>{{t "templates.taskInstance.description" }}</strong>
                                        </div>
                                        <div class="col-sm-9 control-text">
                                            {{task.description}}
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{#if task.category }}
                                    <div class="row">
                                        <div class="col-sm-3 control-label">
                                            <strong>{{t "templates.taskInstance.category" }}</strong>
                                        </div>
                                        <div class="col-sm-9 control-text">
                                            {{task.category}}
                                        </div>
                                    </div>
                                    {{/if}}
                                    <div class="row">
                                        <div class="col-sm-3 control-label">
                                            <strong>{{t "templates.taskInstance.priority" }}</strong>
                                        </div>
                                        <div class="col-sm-9 control-text">
                                            {{task.priority}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 control-label">
                                            <strong>{{t "templates.taskInstance.relatedProcess" }}</strong>
                                        </div>
                                        <div class="col-sm-9 control-text">
                                            <a href="#workflow/processinstance/{{task.processInstanceId}}">{{process.name}} <small class="text-muted">({{task.processInstanceId}})</small></a>
                                        </div>
                                    </div>
                                    {{#if task.owner }}
                                    <div class="row">
                                        <div class="col-sm-3 control-label">
                                            <strong>{{t "templates.taskInstance.owner" }}</strong>
                                        </div>
                                        <div class="col-sm-9 control-text">
                                            {{task.owner}}
                                        </div>
                                    </div>
                                    {{/if}}
                                    <div class="row">
                                        <div class="col-sm-3 control-label">
                                            <strong>{{t "templates.taskInstance.assignee" }}</strong>
                                        </div>
                                        <div class="col-sm-9 control-text">
                                            {{#if task.assignee }}
                                            <div class="media">
                                                <div class="media-left">
                                                    <div class="circle-icon circle-icon-xs">
                                                        <i class="fa fa-user"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body media-middle">
                                                    <a href="#resource/managed/user/edit/{{task.openidmAssigneeId}}">{{assignee.givenName}} {{assignee.sn}} <small class="text-muted">({{assignee.userName}})</small></a>
                                                    <button id="assigneeTaskBtnUser_{{task.assignee}}" class="btn btn-default btn-xs assignTask">{{t "templates.taskInstance.reassign" }}</button>
                                                </div>
                                            </div>
                                            <a href=""></a>
                                            {{else}}
                                            {{t "templates.taskInstance.none" }}
                                            {{/if}}
                                        </div>
                                    </div>
                                    {{#if task.parentTaskId }}
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <strong>{{t "templates.taskInstance.parentTask" }}</strong>
                                        </div>
                                        <div class="col-md-9">
                                            <a href="#workflow/taskinstance/{{task.parentTaskId}}">{{parentTaskName}} <small class="text-muted">({{task.parentTaskId}})</small></a>
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{#if task.subtasks }}
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <strong>{{t "templates.taskInstance.subtasks" }}</strong>
                                        </div>
                                        <div class="col-md-9">
                                            {{task.subtasks}}
                                        </div>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{#if showForm}}
                <div class="panel panel-default panel-collapse">
                    <div id="taskDetailPanel" class="panel panel-default panel-collapse">
                        <div class="panel-heading" role="tab" id="taskDetailHeading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#taskDetailBody" aria-expanded="true" aria-controls="taskDetailHeading">{{t "templates.taskInstance.taskDetail" }}</a>
                            </h4>
                        </div>
                        <div id="taskDetailBody" class="collapse in" role="tabpanel" aria-expanded="true" aria-labelledby="taskDetailHeading">
                            <div class="panel-body">
                                <p class="panel-description">{{t "templates.taskInstance.taskDetailInfo" }}</p>
                                <div id="taskDetailContent" class="well detailTable">
                                    <form id="taskForm" class="form-horizontal">
                                        {{{taskForm}}}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </section>
</div>
