{{!
  Copyright 2015-2018 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
}}
<form id="emailConfigForm" class="form clearfix panel-collapse-group" autocomplete="off">
    <div class="panel-body">
        <a class="pull-right" href="{{docHelpUrl}}integrators-guide#chap-mail" target="_blank">{{t "templates.connector.help"}} <i class="fa fa-question-circle"></i></a>

        <div class="group-body">
            <p class="panel-description">
                {{t "templates.emailConfig.desc"}}
            </p>

            <div class="form-horizontal">

                <div class="form-group">
                    <label class="all-check col-sm-3 control-label">{{t "templates.emailConfig.enable"}}</label>
                    <div class="col-sm-6">
                        <div class="checkbox checkbox-slider-primary checkbox-slider checkbox-slider--b checkbox-slider-md">
                            <label>
                                <input id="emailToggle" type="checkbox"><span></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div id="emailSettingsForm">
                    <fieldset disabled="disabled">
                        <div class="form-group has-feedback">
                            <label for="emailHost" class="col-sm-3 control-label">{{t "templates.emailConfig.host"}}</label>
                            <div class="col-sm-6">
                                <input id="emailHost" type="text" class="form-control" name="host" value="{{config.host}}" data-validator="required" data-validator-event="keyup blur validate"/>
                                <div class="validation-message"></div>
                                <span class="error form-control-feedback"><i class='fa validation-icon'></i></span>
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label for="emailPort" class="col-sm-3 control-label">{{t "templates.emailConfig.port"}}</label>
                            <div class="col-sm-6">
                                {{#ifObject config.port}}
                                    <input id="emailPort" type="text" class="form-control" name="port" value="{{config.port.$int}}"/>
                                {{else}}
                                    <input id="emailPort" type="number" class="form-control" name="port" value="{{config.port}}"/>
                                {{/ifObject}}

                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label for="emailFrom" class="col-sm-3 control-label">{{t "templates.emailConfig.from"}}</label>
                            <div class="col-sm-6">
                                <input id="emailFrom" type="email" data-prop="from" class="form-control" data-validator="validEmailAddressFormat" name="from" value="{{config.from}}" />
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            <label class="col-sm-3 control-label" for="connectionTimeout">{{t "templates.emailConfig.connectionTimeout"}}</label>
                            <div class="col-sm-6">
                                <input type="number" id="connectionTimeout" name="connectiontimeout" class="form-control" value="{{config.connectiontimeout}}">
                                <span class="help-block">{{t "templates.emailConfig.zeroDisable"}}</span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-sm-3 control-label" for="writeTimeout">{{t "templates.emailConfig.writeTimeout"}}</label>
                            <div class="col-sm-6">
                                <input type="number" id="writeTimeout" name="writetimeout" class="form-control" value="{{config.writetimeout}}">
                                <span class="help-block">{{t "templates.emailConfig.zeroDisable"}}</span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-sm-3 control-label" for="timeout">{{t "templates.emailConfig.timeout"}}</label>
                            <div class="col-sm-6">
                                <input type="number" id="timeout" name="timeout" class="form-control" value="{{config.timeout}}">
                                <span class="help-block">{{t "templates.emailConfig.zeroDisable"}}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="emailTLS" class="col-sm-3 control-label">{{t "templates.emailConfig.tls"}}</label>
                            <div class="col-sm-6">
                                <div class="checkbox checkbox-slider-primary checkbox-slider checkbox-slider--b checkbox-slider-md">
                                    <label>
                                        <input type="checkbox" name="starttls.enable" id="emailTLS" value="true" {{#if config.starttls.enable}}checked{{/if}}/><span></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="emailAuth" class="col-sm-3 control-label" >{{t "templates.emailConfig.smtp"}}</label>
                            <div class="col-sm-6">
                                <div class="checkbox checkbox-slider-primary checkbox-slider checkbox-slider--b checkbox-slider-md">
                                    <label>
                                        <input type="checkbox" name="auth.enable" id="emailAuth" value="true" {{#if config.auth.enable}}checked{{/if}}/><span></span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="collapse in" id="smtpauth"{{#unless config.auth.enable}} style="display:none;"{{/unless}}>
                            <div class="well">
                                <div class="form-group has-feedback">
                                    <label class="col-sm-3 control-label">{{t 'templates.emailConfig.username'}}</label>
                                    <div class="col-sm-6">
                                        <input type="text" id="emailAuthUsername" name="auth.username" class="form-control" value="{{config.auth.username}}">
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="col-sm-3 control-label">{{t 'templates.emailConfig.password'}}</label>
                                    <div class="col-sm-6">
                                        {{#ifObject config.auth.password}}
                                            {{#if config.auth.password.$crypto}}
                                                <input id="emailAuthPassword" class="form-control" type="password" {{#if config.auth.password}} placeholder="********" {{/if}} />
                                            {{else}}
                                                <input id="emailAuthPassword" class="form-control" type="password" placeholder="{{config.auth.password.$base64:decode}}" />
                                            {{/if}}
                                        {{else}}
                                            {{#if passwordPlaceholder}}
                                                <input id="emailAuthPassword" class="form-control" type="password" value="" placeholder="{{passwordPlaceholder}}" />
                                            {{else}}
                                                <input id="emailAuthPassword" class="form-control" type="password" value="" />
                                            {{/if}}
                                        {{/ifObject}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="clearfix form-button-bar">
            <input type="submit" class="btn btn-primary pull-right" id="saveEmailConfig" value="Save"/>
        </div>
    </div>
</form>
